.tablebg {

	font: normal 80%/135% Time New Roman, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left:1px solid black; 
	border-right:1px solid black; 
	width:900px;
	background-image: url("../images/don_emb.png");
	background-repeat:no-repeat;
	background-position: center;
}
.tablebg1 {

	font: normal 80%/135% Time New Roman, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left:1px solid black; 
	border-right:1px solid black; 
	width:900px;
	background-size: 500px 450px;
	background-image: url("../images/don_emb.png");
	background-repeat:no-repeat;
	background-position: center;
}
.table {

	font: normal 80%/135% Time New Roman, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left:1px solid black; 
	border-right:1px solid black; 
	width:900px;
}
.table1 {
	border-collapse: collapse;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left:1px solid black; 
	border-right:1px solid black; 
	width:900px;
}
.table th {
	  border: 1px solid black;
}
.table  td {
	 border: 1px solid black;
	 text-align:center;
	 height:20px;
}
.tablebg th {
	  border: 1px solid black;
}
.tablebg  td {
	 border: 1px solid black;
	 text-align:center;
	 height:20px;
}

th.rotate {
  /* Something you can count on */

  height: 150px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(1px, 60px)
    /* 45 is really 360 - 45 */
    rotate(-90deg);
  width: 30px;
}
th.rotate > div > span {
  padding: 1px 1px;
}

