.doe{color :#FFFFFF;}
#wait{display:none;}
.preload {
	position: fixed;
	height: 100%;
	width: 100%;
	background:#559F55;
	background-size:150%;
	z-index: 999999;
	top:0;
	bottom:0;	
}
.preload .delta {
	width:100%;
	text-align:center;
	top: 50%;
	position: absolute;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	
	font-family: 'open_sansextrabold';
    color: #e8e8e8;
    font-size: 7.5vw;
    line-height: 1em;
    text-transform: uppercase;
    text-decoration: none !important;
	
	
}
.preload .delta span{
	-webkit-animation-name: cams-loader;
  animation-name: cams-loader;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  z-index: 1;
  border: 20px solid #f3f3f3;
  border-radius: 50%;
  border-top: 20px solid blue;
  border-right: 20px solid green;
  border-bottom: 20px solid red;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.loaderp{ width :100%;
    //height:100%;
    background:#ffffff;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}S

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}