ul.ul-tree{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
ul.ul-tree li{
    background-color: #fff;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 0px 2px rgb(76 175 154 / 20%);
    border-radius: 50px;
    position: relative;
    margin-bottom: 5px;
}
ul.ul-tree li label.ind_btn, ul.ul-tree li label.ind_btn-new{
    font-weight: normal;
    margin: 0px;
    cursor: pointer;
    color: #2e67e8;
}
ul.ul-tree li.highlight-green{
    color: #76b631;
    border: 1px solid #76b631;
}
ul.ul-tree li.highlight-red{
    color: #dc3545;
    border: 1px solid #dc3545;
}
ul.ul-tree li.highlight-orange{
    color: orange;
    border: 1px solid orange;
}
ul.ul-tree li i.collapse-btn{
    cursor: pointer;
}
ul.ul-tree li.h-light{
    background-color: #f0f0f0;
}
ul.ul-tree li.english.h-light{
    background-color: rgb(0 117 255 / 90%);
    color: #fff;
}
ul.ul-tree li a{
    margin-left: 10px;
    vertical-align: middle;
}
ul.ul-tree li span{
        position: absolute;
    background-color: #e63636;
    color: #fff;
    border-radius: 50px;
    padding: 3px 10px;
    text-align: center;
    font-size: 10px;
    top: 10px;
    margin-left: 5px;
}
ul.ul-tree li i{
    position: absolute;
    right: 10px;
    font-size: 21px;
    color: #c1c1c1;
}
ul.ul-tree li a i{
        position: relative;
    font-size: 14px;
    right: 0;
}
ul.ul-tree ul{
    display: none;
    padding-left: 15px;
    margin: 10px 0px;
}
ul.ul-tree li .custom-checkbox{
        margin-left: 10px;
}
ul.ul-tree li .custom-checkbox label{
vertical-align: middle;
    margin: 0px;
    font-weight: 100;
}
.subject-list-inbox .list .work-btn{
    display: inline-block;
    float: right;
}
.subject-list-inbox .list .work-btn > a, .subject-list-inbox .list .work-btn .btn-group > a{
position: relative;
    display: inline-block;
    color: #ffffff;
    background-color: #ba6eb4;
    padding: 5px 15px;
    border-radius: 50px;
    margin-right: 15px;
    text-decoration: none;
}
.subject-list-inbox .list .work-btn > a.btn-seven.active{
    color: #ba6eb4;
    background-color: #fff;
    border: 1px solid #ba6eb4;
}
.subject-list-inbox .list .work-btn > a.btn-two.active{
    color: rgb(112 191 2 / 70%);
    background-color: #fff;
    border: 1px solid rgb(112 191 2 / 70%);
}
.subject-list-inbox .list .work-btn > a.btn-three.active{
    color: rgb(0 190 242 / 70%);
    background-color: #fff;
    border: 1px solid rgb(0 190 242 / 70%);
}
.subject-list-inbox .list .work-btn > a.btn-four.active{
    color: rgb(107 126 194 / 80%);
    background-color: #fff;
    border: 1px solid rgb(107 126 194 / 80%);
}
.subject-list-inbox .list .work-btn > a.btn-five.active{
    color: rgb(106 57 136 / 66%);
    background-color: #fff;
    border: 1px solid rgb(106 57 136 / 66%);
}
.subject-list-inbox .list .work-btn > a.btn-six.active{
    color: rgb(169 114 77 / 70%);
    background-color: #fff;
    border: 1px solid rgb(169 114 77 / 70%);
}
.subject-list-inbox .list .work-btn > a.btn-one.active{
    color: rgb(255 167 44 / 70%);
    background-color: #fff;
    border: 1px solid rgb(255 167 44 / 70%);
}
.subject-list-inbox .list .work-btn > a:hover, .subject-list-inbox .list .work-btn .btn-group > a:hover{
    -webkit-box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}
.subject-list-inbox .list .work-btn .dropdown-menu{
    border: none;
}
.subject-list-inbox .list .work-btn .dropdown-menu a{}
.subject-list-inbox .list .work-btn a:last-child{
    margin-right: 0px;
}
.subject-list-inbox .list .work-btn a span{
        position: absolute;
    background-color: #e63636;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    padding: 4px 0px;
    text-align: center;
    font-size: 10px;
    top: 5px;
    right: -10px;
}
.subject-list-inbox .list .work-btn a.btn-one{
        background-color: rgb(255 167 44 / 70%);
    color: #fff;
}
.subject-list-inbox .list .work-btn a.btn-two{
        background-color: rgb(112 191 2 / 70%);
    color: #fff;
}
.subject-list-inbox .list .work-btn a.btn-three{
        background-color: rgb(0 190 242 / 70%);
    color: #fff;
}
.subject-list-inbox .list .work-btn a.btn-four{
        background-color: rgb(107 126 194 / 80%);
    color: #fff;
}
.subject-list-inbox .list .work-btn a.btn-five{
        background-color: rgb(106 57 136 / 66%);
    color: #fff;
}
.subject-list-inbox .list .work-btn a.btn-six{
        background-color: rgb(169 114 77 / 70%);
    color: #fff;
}
.l-m-s-right-body ul.list-group-sortable-handles{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.l-m-s-right-body ul.list-group-sortable-handles li{
        color: #424242 !important;
    border: none !important;
    padding: 0px;
    background-color: #fff !important;
    margin-bottom: 20px;
}
.l-m-s-right-body ul.list-group-sortable-handles li .head{
        padding: 12px 10px;
            background-color: #f0f1f3;
    border-bottom: 2px solid #e6e8e9;
}
.l-m-s-right-body ul.list-group-sortable-handles li .head span{
        color: #747272;
    margin-right: 5px;
    cursor: pointer;
}
.class-w-box-homework .l-m-s-right-body ul.list-group-sortable-handles li .body, .group-w-box-homework .l-m-s-right-body ul.list-group-sortable-handles li .body{
    padding: 12px 10px;
    border-left: 3px solid #00bef2 !important;
}
.class-w-box-resources .l-m-s-right-body ul.list-group-sortable-handles li .body, .group-w-box-resources .l-m-s-right-body ul.list-group-sortable-handles li .body{
        border-left: 3px solid #6b7ec2 !important;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body{
    padding: 12px 10px;
        border-left: 3px solid rgb(112 191 2 / 70%) !important;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body ul.body-list{
        padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body ul.body-list li{
    border-bottom: 1px solid #ccc !important;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li:last-child{
        margin: 0px;
    border-bottom: none !important;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li a{
    color: #424242 !important;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li a.move-right{
    float: right;
    margin-right: 10px;
    color: #bababa !important;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li .class-room-list{
display: inline-block;
    float: right;
    margin-left: 15px;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li .class-room-list button{
    display: inline-block;
    border: 1px solid #70bf02;
    color: #70bf02 !important;
    padding: 1px 10px;
    text-decoration: none;
    background-color: transparent;
        box-shadow: none;
}
.class-w-box-resources .l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li .class-room-list button{
        border: 1px solid #6b7ec2;
    color: #6b7ec2 !important;
}
.class-w-box-notes .l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li .class-room-list button, .group-w-box-notes .l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li .class-room-list button{
        border: 1px solid #ba6eb4;
    color: #ba6eb4 !important;
}
.class-w-box-homework .l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li .class-room-list button, .group-w-box-homework .l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li .class-room-list button{
            border: 1px solid #00bef2;
    color: #00bef2 !important;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li .class-room-list ul.dropdown-menu{
    right: -18px;
    left: auto;
    padding: 0px;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li .class-room-list ul.dropdown-menu li{
    padding: 0px;   
    margin: 0px;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li .class-room-list ul.dropdown-menu li a{
    background-color: transparent;
    padding: 10px 10px;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li .class-room-list ul.dropdown-menu li a.add-std-note{
    background-color: #f0f1f3;
    text-align: center;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li .class-room-list ul.dropdown-menu li a span{
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 5px;
        margin-right: 5px;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li .class-room-list ul.dropdown-menu li a span.green{
        background-color: #76b631;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li .class-room-list ul.dropdown-menu li a span.red{
        background-color: red;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body > ul.body-list li span.d-t{
    float: right;
    font-size: 12px;
    color: #373737;
    margin-top: 2px;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body ul.body-list .assignment_question_box .std_list_btn ul li, 
.l-m-s-right-body ul.list-group-sortable-handles li .body ul.body-list .assignment_not_submit_box .std_list_btn ul li{
        padding: 0px !important;
    border: none !important;
        display: block;
            margin: 0px;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body ul.body-list .assignment_question_box .std_list_btn ul li a,
.l-m-s-right-body ul.list-group-sortable-handles li .body ul.body-list .assignment_not_submit_box .std_list_btn ul li a{
    padding: 6px 0px;
    display: block;
    text-decoration: none;
}
.l-m-s-right-body ul.list-group-sortable-handles li .body ul.body-list .assignment_question_box .std_list_btn ul li a.active,
.l-m-s-right-body ul.list-group-sortable-handles li .body ul.body-list .assignment_not_submit_box .std_list_btn ul li a.active{
    font-weight: bold;
}
.class-w-box-Lesson-Plan .l-m-s-right-body ul.list-group-sortable-handles li .body, .group-w-box-Lesson-Plan .l-m-s-right-body ul.list-group-sortable-handles li .body{
    border-left: 3px solid rgb(193 155 129) !important;
}
.class-w-box-notes .l-m-s-right-body ul.list-group-sortable-handles li .body, .group-w-box-notes .l-m-s-right-body ul.list-group-sortable-handles li .body{
    border-left: 3px solid #ba6eb4 !important;
}
a.list-group-item:hover,
a.list-group-item:focus {
  background: #F9F9F9;
}
.list-group-item:hover{
    background-color: #eef9f7 !important;
    border-left: 3px solid #0e695e !important;
}