body{
    -webkit-print-color-adjust:exact;
  }
   
      @media print {
          body{
    -webkit-print-color-adjust:exact;
  }
      }
      @media print {
  
          .student-reprt-table th, .student-reprt-table td {
      border: 1px solid black !important;
      -webkit-print-color-adjust:exact;
  }
      }
      @media print {
  .student-reprt-table {
    border: 3px solid black !important;
      margin-bottom: 10px;
      -webkit-print-color-adjust:exact;
  }
      }
  
      @media print {
  table tr th.blue {
      background-color: blue !important;
      -webkit-print-color-adjust:exact;
  }
      }
      @media print {
  table tr th.lightblue {
      background-color: lightblue !important;
      -webkit-print-color-adjust:exact;
  }
      }