/* CSS Document */


div table {
	font: normal 90%/150% Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border: 3px solid #f0f8ff;
	border-top: 5px double #87CEFA;
	border-bottom: 5px double #87CEFA;
	border-left:2px double #87CEFA; 
	border-right:2px double #87CEFA; 
}
div th {
	font: bold 1.1em/120% Verdana, Arial, Helvetica, sans-serif;
	padding: 2px 2px;
	font-variant: small-caps;
	color: #047;
	font-weight: bold;
	text-align: left;
	letter-spacing: -1px;
}
div thead th {
	border: 1px solid #87CEFA;
	white-space: nowrap;
	background: #F0F8FF;
}
div tbody td ,tbody th {
	padding: 2px 2px;
	background: #fff;
	color: #000;
}
div tbody th {
	color: #FF0000;
	font-weight: normal;
	font-variant: normal;
	font-size: 1em;
	text-transform:uppercase;
	background:#CCFFCC;
}
div tbody td {
	border: 1px solid #87CEFA;
	
}
div tbody tr.odd td, tbody tr.odd th {
	background: #F0F8FF;
}
div tfoot td, tfoot th {
	border: none;
	padding-top: 10px;
}
div caption {
	font-family: "Georgia", serif;
	letter-spacing: 5px;
	font-style: italic;
	text-align: left;
	text-indent: 2em;
	text-transform: uppercase;
	font-size: 150%;
	padding: 10px 0;
	color: #047;
}
div table a:link {
	color: #DC345C;
	
}
div table th a:link {
	color: #0000FF;
}
div table th{
	border:2px solid #0099CC;
}
div table a:visited{
	color: #036;
	text-decoration: none;
}
div table a:hover{
	color: #000000;
	text-decoration:none;
}
div table a:active{
	color: #000;
}

input.hint { 
   color: grey; 
}

div h2{
font-family: "Georgia", serif;
	letter-spacing: 5px;
	font-style: italic;
	text-align: left;
	text-indent: 2em;
	text-transform: uppercase;
	font-size: 150%;
	/*padding: 10px 0;*/
	color: #047;
}
#BORDER #INDEX {
	position: absolute;
}

div h3{
font-family: "Georgia", serif;
	letter-spacing: 5px;
	font-style: italic;
	text-align: left;
	text-indent: 2em;
	text-transform: uppercase;
	font-size: 100%;
	padding: 10px 0;
	color: #047;
}
