/*
Design by FlashTemplatesDesign
http://www.flashtemplatesdesign.com/
Released for free under a Creative Commons Attribution 3.0 License
*/

*
{
border: 0;
margin: 0;
}

img
{
border: 0px;
}


a{
	color: #1165AA;
	text-decoration:none;
}

a:hover{
	text-decoration: underline;
	color: #000000;
}

body{
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
	background: #70B1D2 url(../images/bg.jpg) repeat-x top;
	margin-top: 48px;
}

#bg{
	background:url(../images/bg_img.jpg) center top no-repeat;
}

#maintop{
	background: url(../images/top.png) 0px 0px no-repeat;
	width:814px;
	height: 9px;
}
#mainbot{
	background: url(../images/bot.png) no-repeat;
	width:814px;
	height: 14px;
}

#main{
	width: 814px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
}

#header{
	width: 814px;
	height: 300px;
	margin: 0px auto;
	background:#FFFFFF;
}

#logo{
	text-align: right;
	padding-top: 200px;
	padding-right: 50px;
	height: 60px;
	background: url(../images/b_img.jpg) 10px 10px no-repeat;
}

#logo a {
	text-decoration: none;
	font-style: italic;
	font-size: 26px;
	color: #FFFFFF;
	font-weight: bold;
}


#logo H2 a{
	font-size: 10px;
}

#buttons{
	width: 800px;
	height: 46px;
	margin-left: 10px ;
	background: url(../images/menu.jpg) left top no-repeat;
	text-align:center;
}

#buttons ul {
    padding-left: 60px;
    margin: 0px;
}

#buttons li {
	display: inline;		
}

#buttons a {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight:normal;
	display: block;
	float: left;
	width: 130px;
	height: 32px;
	text-decoration: none;
	color: #FFFFFF;
	padding-top: 14px;
	margin-right: 5px;
	text-align: center;
}

#buttons a:hover {
	text-decoration: underline;
	background:  url(../images/bg_but.jpg) 0px 2px repeat-x;
}

#content{
	width: 814px;
	background: #FFFFFF;
}

#left{
	width: 523px;
	padding: 0px 0px 0px 7px;
	margin: 0px;
}

.text{
	padding: 10px;
}

#left H1{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:normal;
	color: #1165AA;
	padding-bottom: 10px;
}

.read{
	text-align:right;
	padding-right:20px;
}

#right{
float:right;
width: 272px;
background: url(../images/right_bg.gif) left repeat-y;
margin-right: 10px
}

#right_top {
	background:url(../images/right_top.gif) top no-repeat;
}

#right_bot {
	background: url(../images/right_bot.gif) bottom no-repeat;
	padding-top: 9px
}

#right ul 
{
	list-style: none;
	padding-left:30px;
	margin: 0px;
	display:block;
	padding-bottom: 30px;
	padding-top: 20px;
	background:url(../images/tit_b.jpg) no-repeat;
}

#right ul li{
	padding-bottom: 2px;
}

#archives ul li {
	margin-bottom: 5px;
	background: url(../images/small.gif) no-repeat left;
	padding-left: 15px;

}

#right h2 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:normal;
	color: #FFFFFF;
	text-align:center;
	padding-top: 10px;
	height: 34px;
	background: url(../images/tit.jpg) no-repeat;
	width: 251px;
	margin: 0px 0px 0px 9px;
}

#right li a {
	padding-left: 10px;
}

#calendar {
	padding: 20px 20px 20px 20px;
	background: url(../images/tit_b.jpg) left top no-repeat
}

#calendar table {
	width: 100%;
	text-align: center;
}

#calendar tbody td {
	border: 1px solid #F1F1F1;
}

#calendar #prev {
	text-align: left;
}

#calendar #next {
	text-align: right;
}

#calendar tfoot a {
	text-decoration: none;
	font-weight: bold;
}

#calendar #now {
	background: #696969;
	border: 1px solid #ff0000;
	font-weight: bold;
	color: #FFFFFF;
}

.lo { padding: 20px 20px 15px 20px;
}

#right H4 {
	font-size: 14px;
}

#right p
{
padding: 10px;
padding-left: 20px;
}

#archives {
	

}

#footer{
	height: 37px;
	width: 801px;
	font-size: 10px;
	color: #FFFFFF;
	padding-top: 8px;
	text-align: center;
	clear:both;
	margin: 0px auto;
	padding-bottom: 15px;
}

#footer a{
	color: #FFFFFF;
	font-size: 10px;
	text-decoration: none;
}
.padding{
	padding: 10px;
	color:#FF0000;
	font-weight: bold;
}
#about{
	width: 100%;
	padding: 0px 0px 0px 7px;
	margin: 0px;
}
