@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?5b9f5f51bef0544aeab932cf2e993ea5") format("truetype"),
url("./flaticon.woff?5b9f5f51bef0544aeab932cf2e993ea5") format("woff"),
url("./flaticon.woff2?5b9f5f51bef0544aeab932cf2e993ea5") format("woff2"),
url("./flaticon.eot?5b9f5f51bef0544aeab932cf2e993ea5#iefix") format("embedded-opentype"),
url("./flaticon.svg?5b9f5f51bef0544aeab932cf2e993ea5#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-calendar:before {
    content: "\f101";
}
.flaticon-classroom:before {
    content: "\f102";
}
.flaticon-portfolio:before {
    content: "\f103";
}
.flaticon-bell-ring-alarm:before {
    content: "\f104";
}
.flaticon-password:before {
    content: "\f105";
}
.flaticon-envelope:before {
    content: "\f106";
}
.flaticon-verified-user:before {
    content: "\f107";
}
.flaticon-immigration:before {
    content: "\f108";
}
.flaticon-score:before {
    content: "\f109";
}
.flaticon-speedometer:before {
    content: "\f10a";
}
.flaticon-shuffle:before {
    content: "\f10b";
}
.flaticon-megaphone:before {
    content: "\f10c";
}
.flaticon-text-book-opened-from-top-view:before {
    content: "\f10d";
}
.flaticon-paper-plane:before {
    content: "\f10e";
}
.flaticon-player-substitution:before {
    content: "\f10f";
}
.flaticon-test:before {
    content: "\f110";
}
.flaticon-calendar-1:before {
    content: "\f111";
}
.flaticon-calendar-2:before {
    content: "\f112";
}
.flaticon-folder:before {
    content: "\f113";
}
.flaticon-programmer:before {
    content: "\f114";
}
.flaticon-workplace:before {
    content: "\f115";
}
.flaticon-bus-side-view:before {
    content: "\f116";
}
.flaticon-fees:before {
    content: "\f117";
}
.flaticon-form:before {
    content: "\f118";
}
.flaticon-google-forms:before {
    content: "\f119";
}
.flaticon-profile:before {
    content: "\f11a";
}
.flaticon-check-list:before {
    content: "\f11b";
}
.flaticon-chat:before {
    content: "\f11c";
}
.flaticon-message:before {
    content: "\f11d";
}
.flaticon-group:before {
    content: "\f11e";
}
.flaticon-speech-bubble:before {
    content: "\f11f";
}
.flaticon-email:before {
    content: "\f120";
}
.flaticon-planner:before {
    content: "\f121";
}
.flaticon-calendar-3:before {
    content: "\f122";
}
.flaticon-restaurant:before {
    content: "\f123";
}
.flaticon-confetti:before {
    content: "\f124";
}
.flaticon-wage:before {
    content: "\f125";
}
.flaticon-stock-market:before {
    content: "\f126";
}
.flaticon-certificate:before {
    content: "\f127";
}
.flaticon-direct-debit:before {
    content: "\f128";
}
.flaticon-credit-card:before {
    content: "\f129";
}
.flaticon-appraisal-form:before {
    content: "\f12a";
}
.flaticon-image-gallery:before {
    content: "\f12b";
}
.flaticon-online-learning:before {
    content: "\f12c";
}
.flaticon-book-with-add-button:before {
    content: "\f12d";
}
.flaticon-book-of-black-cover-closed-with-a-magnifier-symbol-on-top:before {
    content: "\f12e";
}
.flaticon-notes:before {
    content: "\f12f";
}
.flaticon-ticket:before {
    content: "\f130";
}
.flaticon-coworking:before {
    content: "\f131";
}
.flaticon-envelope-1:before {
    content: "\f132";
}
.flaticon-add:before {
    content: "\f133";
}
.flaticon-terms-and-conditions:before {
    content: "\f134";
}
.flaticon-question-mark-outline-in-a-circle-hand-drawn-button:before {
    content: "\f135";
}
.flaticon-question:before {
    content: "\f136";
}
.flaticon-individual:before {
    content: "\f137";
}
.flaticon-education:before {
    content: "\f138";
}
.flaticon-top-three:before {
    content: "\f139";
}
.flaticon-running:before {
    content: "\f13a";
}
.flaticon-sport:before {
    content: "\f13b";
}
.flaticon-muscles:before {
    content: "\f13c";
}
.flaticon-contact-book:before {
    content: "\f13d";
}
.flaticon-event:before {
    content: "\f13e";
}
.flaticon-passport-card:before {
    content: "\f13f";
}
.flaticon-employees:before {
    content: "\f140";
}
.flaticon-class:before {
    content: "\f141";
}
.flaticon-student:before {
    content: "\f142";
}
.flaticon-calendar-4:before {
    content: "\f143";
}
.flaticon-calendar-5:before {
    content: "\f144";
}
.flaticon-correct:before {
    content: "\f145";
}
.flaticon-approve:before {
    content: "\f146";
}
.flaticon-shirt:before {
    content: "\f147";
}
.flaticon-id-card:before {
    content: "\f148";
}
.flaticon-salary:before {
    content: "\f149";
}
.flaticon-import:before {
    content: "\f14a";
}
.flaticon-resume:before {
    content: "\f14b";
}
.flaticon-add-user:before {
    content: "\f14c";
}
.flaticon-edit:before {
    content: "\f14d";
}
.flaticon-skills:before {
    content: "\f14e";
}
.flaticon-user-list:before {
    content: "\f14f";
}
.flaticon-exit:before {
    content: "\f150";
}
.flaticon-file:before {
    content: "\f151";
}
.flaticon-profile-1:before {
    content: "\f152";
}
.flaticon-student-1:before {
    content: "\f153";
}
.flaticon-calendar-6:before {
    content: "\f154";
}
