
/* form */

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto',sans-serif;
  color: black;
}
.font-size17{
  font-size: 17px;
}
.bold{
  font-weight: bold !important;
}
p{
  text-align: justify;
}
@media only screen and (min-width:992px){
  /* .main{
      margin-bottom: 4em;
      margin-right: 10em;
      margin-left: 10em;
  } */
}

.school-name h3{
  color: #05035d;
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.form-heading{
   margin-top: -59px;
  background-color: #05035d;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.frm-head{
   color:white;
  padding: 10px 0;
  font-size: 26px;
  text-align: center;
}
/* student enrolment and teacher form*/

.stdnt-enrol-frm h4{
  color: #05035d;
  font-size: 18px;
  padding: 5px;
  border-bottom: 2px solid #e3e3e3;
} 
.form-check-label{
  font-weight: normal !important;
}
.form-control{
  background-color: rgba(195,202,216,.3);
  border:none
}
.form-control:focus{
  border: 1px solid #ced4da;
  background-color: white;
  box-shadow: 0 0 6px 0 #080586;
}
.form-select:focus{
  border: 1px solid #ced4da;
  box-shadow: none;
}


.form-check-input:checked {
  background-color:#080586 ;
  border-color:#080586 ;
}
.stdnt-enrol-frm label{
font-size: 16px;    
font-weight: bold;
}
.form-label{
  margin-bottom: 0px;
}
.stdnt-enrol-frm .btn,.stdnt-enrol-frm-b .btn{
  background-color:#05035d;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  margin: 15px 0px;
}
@media only screen and (min-width: 768px){
  .res-status-b{
      padding-left:60px;
  }
}
/* Items for inclusion in existing enrolment forms*/

.stdnt-enrol-frm-b  .form-control{
  background-color: white;
  border: 1px solid #ced4da;
}
.form-control:focus{
  box-shadow: 0 0 6px 0 #080586;
}
.stdnt-enrol-frm-b .sectn-a{
  background-color: whitesmoke;
  padding: 20px ;
  border-radius: 7px;
  font-size: 15px;
}
.stdnt-enrol-frm-b h4{
  font-size: 18px;
  font-weight: bold;
}
.stdnt-enrol-frm-b .sectn-b p{
font-size: 15px;
}
.stdnt-enrol-frm-b .sectn-c{
  font-size: 15px;
}
.frm-head-a{
  font-size: 22px;
  font-weight: 600;
  color:white ;
  text-align: center;
}
@media only screen and (max-width: 390px){
  .stdnt-enrol-frm-b .sectn-b a{
      font-size: 13px;
  }
}
/* incident report form */

.incident-form .form-control{
  border: 1px solid #ced4da;
  background-color: white;
}
.incident-form .form-control:focus{
  border: 1px solid #ced4da;
  background-color: white;
  box-shadow: 0 0 6px 0 #080586;
}
.incident-form h4{
  margin: 10px;
}
.incident-form h4 span{
 background-color: whitesmoke;
}


.incident-form label{
  font-size: 16px;    
  font-weight: bold;
}
.incident-form textarea{
  height: 150px;
}

/* student report*/

.student-rprt .wrk-habit {
  padding: 4px 1em;
  border-radius: 4px;
  background-color: whitesmoke;
  color: #05035d;
  font-size: 18px;
}
.stdnt-rprt-table1{
  width: 100px;
}
.stdnt-rprt-table1 .form-select{
  border: none;
  background-image: none;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}
.stdnt-rprt-table1 td,.stdnt-rprt-table2 td{
  padding: 10px;
}
.stdnt-rprt-table1 th,.stdnt-rprt-table2 th{
  padding: 10px;
}
.stdnt-rprt-table1 tr:nth-of-type(1){
  background-color: seashell;
}
.stdnt-rprt-table2 tr:nth-of-type(1){
  background-color: seashell;
}
@media only screen and (max-width: 575px){
  .stdnt-rprt-table1 .form-select{
      width: 100px;
  } 
}
/* consent letter form */
@media only screen and (min-width: 768px){
  .consent-name{
      margin-left: -23px;
  }
}

/* arabic-forms */

.color05035d{
color: #05035d;
}
.form-heading-arabic{
  margin-top: -47px;
 background-color: #05035d;
 border-top-left-radius: 8px;
 border-top-right-radius: 8px;
}
.frm-head-arabic{
  color:white;
 padding: 2px 0;
 font-size: 26px;
 text-align: center;
}
/* consent-form */
.concent-frm-arabic .form-group label{
font-size: 22px;
}
.concent-frm-arabic p{
  font-size: 22px;
}
.emplmnt-form ul li span{
  font-size: 20px;
}
.concent-frm-arabic ul li span{
  font-size: 20px;
}
