/* CSS Document */


#progress table {
	/*font: normal 75%/150% Verdana, Arial, Helvetica, sans-serif;*/
	/*border-collapse: collapse;*/
	/*border: 3px solid #f0f8ff;*/
	/*border-top: 5px double #87CEFA;*/
	/*border-bottom: 5px double #87CEFA;*/
	/*border-left:2px double #87CEFA; */
	/*border-right:2px double #87CEFA; */
}
#progress th {
	font: bold 1.1em/120% Verdana, Arial, Helvetica, sans-serif;
	padding: 5px 10px;
	font-variant: small-caps;
	color: #047;
	font-weight: bold;
	text-align: left;
	letter-spacing: -1px;
}
#progress thead th {
	border: 1px solid #87CEFA;
	white-space: nowrap;
	background: #F0F8FF;
}
#progress tbody td ,tbody th {
	padding: 5px 10px;
	background: #fff;
	color: #000 !important;
}
#progress tbody th {
	font-weight: normal;
	font-variant: normal;
	font-size: 1em;
	text-transform:uppercase;
background: #ecf5f4;
}
#progress tbody td {
	border: 1px solid #87CEFA;
	
}
#progress tbody tr.odd td, tbody tr.odd th {
	background: #F0F8FF;
}
#progress tfoot td, tfoot th {
	border: none;
	padding-top: 10px;
}
#progress caption {
	font-family: "Georgia", serif;
	letter-spacing: 5px;
	font-style: italic;
	text-align: left;
	text-indent: 2em;
	text-transform: uppercase;
	font-size: 150%;
	padding: 10px 0;
	color: #047;
}
#progress table a:link {
	color: #DC345C;
	
}
#progress table th a:link {
	color: #0000FF;
}
#progress table th{
    border: 2px solid #1caf9a;
}
#progress table a:visited{
	color: #036;
	text-decoration: none;
}
#progress table a:hover{
	color: #000000;
	text-decoration:none;
}
#progress table a:active{
	color: #000;
}

input.hint { 
   color: grey; 
}

#progress h2{
font-family: "Georgia", serif;
	letter-spacing: 5px;
	font-style: italic;
	text-align: left;
	text-indent: 2em;
	text-transform: uppercase;
	font-size: 150%;
	/*padding: 10px 0;*/
	color: #047;
}
#BORDER #INDEX {
	position: absolute;
}

#progress h3{
font-family: "Georgia", serif;
	letter-spacing: 5px;
	font-style: italic;
	text-align: left;
	text-indent: 2em;
	text-transform: uppercase;
	font-size: 100%;
	padding: 10px 0;
	color: #047;
}
