@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,500,600,700&subset=latin,latin-ext);
@import "jquery/jquery-ui.min.css";
@import "bootstrap/bootstrap.min.css";
@import "fontawesome/font-awesome.min.css";
@import "summernote/summernote.css";
@import "codemirror/codemirror.css";
@import "nvd3/nv.d3.css";
@import "mcustomscrollbar/jquery.mCustomScrollbar.css";
@import "fullcalendar/fullcalendar.css";
@import "blueimp/blueimp-gallery.min.css";
@import "rickshaw/rickshaw.css";
@import "dropzone/dropzone.css";
@import "animate/animate.min.css";

.table-box{border:2px solid #02ccaf;
}
		   
		   
.table>thead>tr>th {
    vertical-align: bottom;
}	   
.page-title {
    float: left;
    width: 100%;
    padding: 5px 10px;
    background: #199e8b;
	color:#fff;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    border-radius:0px;
	color:#4e00ff;
	background:#02ccaf;
}

.breadcrumb li a {
    font-size: 11px;
    line-height: 12px;
    color: #fff;
    text-decoration: none;
}

.breadcrumb li:last-child {
    color: #fff;
}


.breadcrumb li:last-child:hover  {
    color: #000;
}

.breadcrumb li {
    font-size: 11px;
    line-height: 12px;
    color: #ffffff;
    text-decoration: none;
}

h2 small{
    font-weight: 400;
    line-height: 1;
     color: #fff; 
}

.btn-primary {
    color: #fff;
    background-color: #1CAF9A;
    border:none;
}

th {
    font-size:90%;
}

